{% extends 'form.html.twig' %}

{% block content %}
    
    {{ parent() }}
    
    {% for name,rules in page.header.imports.live %}
        
        <div id="live-{{ name }}">
            {{ rules['shell'] }}
        </div>
    {% endfor %}

{% endblock %}